* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(231, 127, 0, 1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.header.hidden {
    transform: translateY(-100%);
}

.header.transparent {
    background-color: rgba(231, 127, 0, 0.8);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: normal;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
    padding-bottom: 8px;
}

.nav-links a:hover {
    color: #ffcc00;
}

.nav-links a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

.parallax {
    background-image: url('/assets/img/banner-ideas.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.parallax::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.banner-text h1 {
    font-size: 3rem;
    margin: 0;
}

.banner-text p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.content {
    padding: 20px;
    
}

.post-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#post-range-text {
    font-size: 14px;
    color: #333;
}

.dropdowns {
    display: flex;
    gap: 20px;
}

.dropdown-group {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

#show-per-page,
#sort-by {
    padding: 5px;
    font-size: 14px;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.post-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.post-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.post-card .post-content {
    padding: 15px;
}

.post-card .post-date {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.post-card .post-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #ffcc00;
}

.pagination .active {
    background-color: #ffcc00;
    color: white;
}

.pagination button:disabled{
    color: #a1a1a1;
}